.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgb(44, 48, 51);
    opacity: 0.2;
    transition: background-color 0.3s, opacity 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: rgb(44, 48, 51);
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
    width: 16px;
    height: 16px;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}